models/
.venv/
__pycache__/
game.log
conversations/
test_results/
prompts/
data/extraction_results/
data/extraction_prompts/
data/debug/
data/validation_logs/
debug/
testprompts/
testprompts1b/
testpromptsllama/
convert.py
data.ipynb
claude_evaluations.csv
ClaudeEvalAvgs.csv
minimal.py
npc tests.csv
human_evaluations.csv
HumanEvalAvgs.csv
