body {
    font-family: monospace;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
    background-color: #222;
    color: #ccc;
}
#game-output {
    background-color: #333;
    border: 1px solid #555;
    padding: 15px;
    flex: 1;
    overflow-y: scroll;
    margin-bottom: 10px;
    white-space: pre-wrap;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* or another fixed height */
  }
#input-form {
    display: flex;
}
#input-form-npc {
    display: flex;
}
#simulation-input{
    flex-grow: 1;
    background-color: #333;
    border: 1px solid #555;
    padding: 8px;
    color: #ccc;}

#player-input {
    flex-grow: 1;
    background-color: #333;
    border: 1px solid #555;
    padding: 8px;
    color: #ccc;
}
#game-container{
    background-color: #333;
    border: 1px solid #555;
    padding: 15px;
    height: calc(100vh - 70px);
}
#npc-simulation{
    background-color: #333;
    border: 1px solid #555;
    padding: 15px;
}
#simulation-title{
    color: #d4e0d4;
    margin-top: 0;
}
#npc-dropdown-A{
    background-color: #333;
    border: 1px solid #555;
    padding: 15px;
}
#npc-dropdown-B{
    background-color: #333;
    border: 1px solid #555;
    padding: 15px;
}
button {
    background-color: #555;
    color: #ccc;
    border: none;
    padding: 8px 15px;
    margin-left: 5px;
}
.npc-response {
    color: #88cc88;
}
.player-input {
    color: #8888ff;
}
.system-message {
    color: #cccc88;
    font-style: italic;
}